[Desktop Entry]
Name=xfce4-terminal
GenericName=Terminal
Comment=Interactive terminal
Exec=dbus-launch xfce4-terminal
Terminal=false
Type=Application
